:root {
--title-color:#2E2F42;
--main-text-color: #434455;
--second-text-color: #F4F4FD;
}
body {
    font-family: "Raleway" sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
link {
    text-decoration: none;
}
.list style {
    text-decoration: none
}
/* --------------HEADER-------------- */
.header-logo link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo link span {
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.header-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42    
}
.header-menu-link:hover,.header-menu-link:focus {
    background-color: #404BBF   
}
/* --------------HERO-------------- */
.hero {
    background-color: #2E2F42;;
}
.hero-title {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5
}
/* --------------BENEFISTS-------------- */
.benefists-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
}
.benefists-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}/* --------------PRODUCTS-------------- */

.products title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}
.web-title {
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #4D5AE5;
}
.web-title span {
    font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #F4F4FD;
}
.web-item-text{
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #F4F4FD;
}

